.remote_board_container {
  height: calc(100% - 70px);

  .top_network_info {
    margin: 15px 0;
    height: 380px;
    width: 1310px;
    padding: 30px 0;
    background-color: white;
    float: left;
    position: relative;

    .remote_total{
      display: block;
      width: 75%;
      float: left
    }
    .top_class_div{
      margin-top: 30px
    }
    .question_class{
      display: block;
      width: 25%;
      float: left
    }
    .content_des{
      margin-right: 100px
    }
    .content_font{
      font-size:13px
    }
    .trend {
      font-size: 20px;
      font-weight: bold;
      color: rgba(34, 34, 34, 1);
      padding-left: 30px;
    }
    .num_class{
      margin-top: 70px;
      margin-bottom: 68px;

    }

    .trend_ques{
      font-size: 20px;
      font-weight: bold;
      color: rgba(34, 34, 34, 1);

    }

    .bord_class{
      font-size: 15px;
      font-weight: bold;
      color: rgba(34, 34, 34, 1);

    }
    .wid_bord_class{
      margin-top: 25px;
      margin-bottom: 20px;
    }

    .state_class{
      font-size: 15px;
      padding-left: 30px;
    }
    .trend_red{
      font-size: 35px;
      font-weight: 400;
      color: red;
      padding-left: 110px;
    }
    .margin_class_left{
      margin-left: 90px
    }

  }

  .bottom_transactions {
    width: 1310px;
    height: calc(100% - 395px);
    background-color: white;
    padding: 24px 31px;
    position: relative;
    overflow: hidden;

    .trend {
      font-size: 20px;
      font-weight: bold;
      color: rgba(34, 34, 34, 1);
    }

    .table_border{
      margin-top: 20px;
    }
    .margin_class_left{
      margin-left: 90px
    }

  }

}
.remote_dialog{
  width:300px;

  .margin_class_left{
    margin-left: 20px
  }
  .margin_top_modal{
    margin-top: 20px
  }

  .model_class01{
    font-size: 16px;
  }

}
.input_width{
  width: 80px;
}

.switch_class_left{
  margin-left: 35px
}
