language: node_js
node_js:
  - "8"
  - "9"
  - "10"
cache:
  directories:
    - "node_modules"
before_script:
  - npm run build
script:
  - npm run test:cov
  - npm install --global typedoc
  - CURRENT_VERSION=$(npm run version --silent)
  - typedoc --out "ts-docs/$CURRENT_VERSION" src
  - touch ./ts-docs/.nojekyll
  - if [ "$TRAVIS_NODE_VERSION" = "8" ]; then npm run coveralls-report; fi
deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: ts-docs
    keep_history: true
    github_token: $GITHUB_TOKEN
    on:
      branch: master
      node_js: "8"
  - provider: script
    skip_cleanup: true
    script: /bin/sh travis/uploadArchives.sh
    on:
      branch: master
      node_js: "8"
  - provider: script
    skip_cleanup: true
    script: /bin/sh travis/release.sh
    on:
      branch: $RELEASE_BRANCH
      node_js: "8"
