.walletCreatedWrap {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  overflow-y: auto;
  .createdDiv1 {
    height: 100%;
    padding: 35px 40px 20px;
    position: relative;
    .pageTit {
      font-size:28px;
      line-height: 28px;
      font-weight:bold;
      color:#222222;
      margin-bottom: 39px;
    }
    .pageTxt {
      font-size:16px;
      line-height: 16px;
      font-weight:400;
      color:rgba(34,34,34,1);
      margin-bottom: 39px;
    }
    .pageRemind {
      font-size: 16px;
      font-weight: 400;
      color: #222222;
      word-wrap: break-word;
      padding-left: 50px;
      position: relative;
      .tails {
        color: #F65C5C;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .mnemonicDiv{
      width:580px;
      height:120px;
      background:rgba(0,0,0,1);
      border:1px solid rgba(204,204,204,1);
      opacity:0.5;
      border-radius:8px;
      margin-top: 100px;
      margin-bottom: 200px;
    }
    .btns{
      width:580px;
    }
    button {
      display: block;
      width: 200px;
      height: 60px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      background: #20B5AC;
      border: none;
      border-radius: 30px;
    }
    .prev {
      color: #20B5AC;
      background: #fff;
      border: 1px solid rgba(32, 181, 172, 1);
    }
    .next {
      border: 1px solid rgba(32, 181, 172, 1);
    }
  }
}
