* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#app {
  background-color: #eee;
  height: 100%;
  overflow: hidden;
}

.clear::after,
.clear::before {
  content: '';
  display: block;
  clear: both;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.radius {
  border-radius: 8px;
}

.hide_scroll {
  overflow-y: scroll;
}
.hide_scroll::-webkit-scrollbar {
  display: none;

}


.switch_wallet {
  .ivu-select-placeholder,
  .ivu-select-selected-value {
    font-size: 20px !important;
    color: #222;
  }
}


.switch_language {
  .ivu-select-placeholder {
    position: relative;
    top: 1px !important;
    right: 1px !important;
  }
}

.ivu-select-selection {
  border: none !important;

  .ivu-select-placeholder {
    color: #333 !important;
  }

  i {
    color: #222 !important;
    font-size: 20px;
  }

  i::before {
    color: #222 !important;
    font-size: 20px;
    content: "\F33D";
  }
}

.ivu-tabs-nav .ivu-tabs-tab:hover,
.ivu-tabs-nav .ivu-tabs-tab-active {
  color: #20B5AC !important;

  span:first-of-type {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 11px !important;
  }
}

.ivu-tabs-ink-bar {
  background-color: #20B5AC !important;
  width: 32px !important;
  height: 3px !important;
  margin-left: 50px;

}

.ivu-tabs-bar {
  border: none !important;
  margin: 0 !important;
}

.ivu-badge-count {
  bottom: 5px !important;
  background-color: #999999 !important;
  left: 3px !important;
}

