* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#app {
  background-color: #eee;
  height: 100%;
  overflow: hidden;
}

.clear::after,
.clear::before {
  content: '';
  display: block;
  clear: both;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.radius {
  border-radius: 8px;
}

.hide_scroll {
  overflow-y: scroll;
}

.hide_scroll::-webkit-scrollbar {
  display: none;

}


.switch_wallet {
  .ivu-select-placeholder,
  .ivu-select-selected-value {
    font-size: 20px !important;
    color: #222;
  }
}


.switch_language {
  .ivu-select-placeholder {
    position: relative;
    top: 1px !important;
    right: 1px !important;
  }
}

.ivu-select-selection {
  border: none !important;

  .ivu-select-placeholder {
    color: #333 !important;
  }

  i {
    color: #222 !important;
    font-size: 20px;
  }

  i::before {
    color: #222 !important;
    font-size: 20px;
    content: "\F33D";
  }
}
.mnemonicDialogHeader{
  height: 74px;
  line-height: 74px;
  font-size:28px;
  font-weight:400;
  color:#222222;
  .title{
    padding-left: 64px;
  }
}
.ivu-modal-content{
  .ivu-modal-close{
    top: 30px ;
    right: 40px ;
    .ivu-icon-ios-close{
      font-size: 40px;
      color: #666666;
      font-weight: 400;
    }
  }
}
.mnemonicDialogBody{
  padding: 40px 0 80px;
  .steps{
    height: 54px;
    text-align: center;
    .stepItem{
      display: inline-block;
      width: 100px;
      height: 50px;
      line-height: 50px;
      font-size:16px;
      font-weight:400;
      white-space: nowrap;
      color:#999999;
      text-align: center;
      margin-right: 93px;
      position: relative;
    }
    .stepItem:last-of-type{
      margin-right: 0;
    }
    .stepItem:after{
      content: '';
      display: inline-block;
      width:100px;
      height:4Px;
      background:#CCCCCC;
      position: absolute;
      left: 0;
      bottom: -4Px;
    }
    .stepItem.active{
      color:#20B5AC;
    }
    .stepItem.active:after{
      background:#20B5AC;
    }
  }
  .stepItem1{
    padding-top: 120px;
    input{
      display: block;
      width:580px;
      height:60px;
      font-size:14px;
      font-weight:400;
      color:#999999;
      padding-left: 40px;
      border:1px solid #CCCCCC;
      border-radius:8px;
      margin: 0 auto;
    }
    button{
      display: block;
      width:200px;
      height:60px;
      line-height: 50px;
      font-size:16px;
      font-weight:400;
      text-align: center;
      color:#fff;
      background:#20B5AC;
      border: none;
      border-radius:30px;
      margin: 120px auto 0;
      position: relative;
      .ivu-icon{
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 14px;
        right: 20px;
      }
    }
  }
  .stepItem2{
    padding-top: 59px;
    .step2Txt{
      .step2Img{
        width: 147px;
        height: 151px;
        margin: 3px auto;
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .tit{
        font-size:16px;
        font-weight:400;
        color:#F65C5C;
      }
      .ul1,.ul2{
        margin-top: 22px;
        .ul1Tit,.ul2Tit{
          font-size:14px;
          font-weight:400;
          color:#222222;
          line-height:22px;
        }
        .ul1Txt,.ul2Txt{
          width: 480px;
          word-wrap: break-word;
          font-size:14px;
          font-weight:400;
          color:#666666;
          line-height:20px;
        }
      }
    }
    button{
      display: block;
      width:200px;
      height:60px;
      line-height: 50px;
      font-size:16px;
      font-weight:400;
      text-align: center;
      color:#fff;
      background:#20B5AC;
      border: none;
      border-radius:30px;
      margin: 87px auto 10px;
      position: relative;
      .ivu-icon{
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 14px;
        right: 20px;
      }
    }
  }

}


.ivu-tabs-nav .ivu-tabs-tab:hover,
.ivu-tabs-nav .ivu-tabs-tab-active {
  color: #20B5AC !important;

  span:first-of-type {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 8px !important;
  }
}

.ivu-tabs-ink-bar {
  background-color: #20B5AC !important;
}

.bottom_transactions {
  .ivu-tabs-ink-bar {
    margin-left: 50px;
    width: 30px !important;
    height: 3px !important;

  }
}

.bottom_account_info {
  .ivu-tabs-mini .ivu-tabs-tab {
    padding: 0 40px 11px 0 !important;
  }

  .ivu-tabs-ink-bar {
    margin-left: 13px;
    width: 30px !important;
    height: 3px !important;

  }
}

.ivu-tabs-bar {
  border: none !important;
  margin: 0 !important;
}

.ivu-badge-count {
  bottom: 5px !important;
  background-color: #999999 !important;
  left: 3px !important;
}


.splite_page {
  .ivu-page-item {
    border: none;
    color: #666666;
  }

  .ivu-page-item-active {
    border-radius: 50%;
    background-color: #20B5AC;
  }
  .ivu-page-item-active a,
  .ivu-page-item-active:hover a {
    color: white !important;
  }

  .ivu-page-prev,
  .ivu-page-next{
    border: none;
  }

}

