.form-title-container {
  padding-top: 70px;
  display: block;
  float: left;
  width: 100%;
  clear: both;
  overflow: hidden;
  height: 1.4rem;
  border-bottom: 0.01rem solid #eee;
  margin-bottom: 20px;

  .form-title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
  }
}
