.setting_container {
  height: 100%;
  overflow: hidden;

  .navigator {
    width: 1310px;
    height: 60px;
    background-color: white;

    span {
      font-size: 16px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      display: inline-block;
      margin: 0 35px;
      line-height: 60px;
    }

    span:hover {
      border-bottom: 2px solid #20B5AC;
    }
  }

  img {
    width: 1310px;
    margin-top: 15px;
  }
}

.sub_img_container {
  position: relative;
  background-color: white;
  width: 1310px;
  height: calc(100% - 60px);
  margin-top: 20px;
}
