@mainPurple: #5200c6;

.page-title {
  color: @mainPurple;
}

.section-title {
  color: #333;
  font-size: 18px;
}

.asset-description-title {
  font-size: 20px;
  color: #666;
  margin: 0.15rem 0 0 0.2rem;
}

.asset-description-sub-title {
  font-size: 18px;
  color: #666;
  margin: 0.2rem 0 0.1rem 0;
}

.asset-description-emphasis {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.asset-description-text {
  font-size: 16px;
  color: #333;
}
