.multisig_map_container {
  padding: 50px 99px;

  .multisig_head_title {
    font-size: 24px;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
  }

  .multisig_tips {
    margin: 28px 0 60px 0;
    font-size: 16px;
    font-weight: 400;
    color: #666666;

    .tips_title {
      color: rgba(246, 92, 92, 1);
    }
  }

  .map_container {
    img {
      width: 100%;
      //height: 700px;
    }
    .first_floor,
    .second_floor,
    .third_floor {
      height: 200px;
      //border: 1px solid #ccc;
      display: flex;
      align-items: center;

      .text {
        display: inline-block;
        width: 150px;
      }
    }

    .circle {
      display: inline-block;
      border-radius: 40px;
      width: 80px;
      height: 80px;
      padding: 5px;
      box-shadow: 0px 0px 15px 0px rgba(32, 181, 172, 0.2);

      .inner_circle {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: rgba(77, 194, 191, 1);
        border-radius: 50%;
        background-image: url("../../../../../common/img/service/multisig/multisigMap.png");
        background-position: center 20%;
        background-repeat: no-repeat;
        color: white;
        position: relative;
        span {
          position: absolute;
          bottom: 10px;
          left: 20px;
        }
      }
    }
    .circle:hover {
      width: 500px;
    }
  }
}
