.relogin_container {
  video {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .text_container {
    padding-bottom: 10px;
    margin-top: 209px;
    margin-left: 400px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .top {
      img {
        position: relative;
        left: 45px;
      }
    }
    .middle_text {
      font-size:50px;
      font-weight:bold;
      color:rgba(33,31,51,1);
      margin-top: 121px;
    }
    .bottom_text {
      font-size:20px;
      font-weight:bold;
      color:rgba(33,31,51,1);
      line-height:28px;
    }
    .bottom_input {
      margin-top: 170px;
      width:402px;
      height:80px;
      background:rgba(32,181,172,1);
      border-radius:4px;
      font-size:28px;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:80px;
      text-align: center;
    }
  }

}
