@import '../../../resources/css/variables.less';
.information-main-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.2rem 0 0 0.2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  overflow: hidden;
}

.articles-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0.2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.article-inner-container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 100%;
  overflow: hidden;
  border-bottom: 2px dashed @grayLight;
}

.article-left-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.4rem 0.6rem 1rem auto;
  padding-top: 0.2rem;
}

.article-right-section {
  display: grid;
}

.article-from {
  font-size: @normalFont;
}

.article-date {
  color: @secondary;
  font-size: @biggerFont;
}

.link-icon {
  color: @secondary;
  vertical-align: top;
}

.article-link a {
  color: @secondary;
  font-size: @biggerFont;
}

.article-title {
  color: @secondary;
  font-size: @biggestFont;
}

.article-content {
  font-size: @normalFont;
}
